@model WebDiary.Models.Event

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.event_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.event_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.event_text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.event_text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_user_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_user_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_on)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_on)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modified_user_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modified_user_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modified_on)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modified_on)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
